.App {
  max-width: 700px;
  margin: 60px auto;
  .search {
    .logo {
      font-weight: 700;
      color: #aaa9a9;
    }
    input[type="text"] {
      width: 300px;
    }
    .button {
      margin-left: 5px !important;
    }
  }
  .speaker {
    height: 17px;
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
  footer {
    text-align: center;
    letter-spacing: 1px;
  }
  .link {
    color: #272142;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }
    .git {
      height: 20px;
    }
  }
}

@media (max-width: 750px) {
  .App {
    margin: 60px 10px;
  }
}

@media (max-width: 420px) {
  .search {
    display: flex;
    flex-direction: column !important;
  }
}
